<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.github.robotics_in_concert.rocon_android_apps.motion_retargeting_remocon"
      android:versionCode="1"
      android:versionName="0.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-sdk android:minSdkVersion="10" />

    <application android:label="@string/app_label"
                 android:icon="@drawable/ic_launcher">
        <activity android:name="MotionRetargetingRemocon"
                  android:label="@string/app_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.github.robotics_in_concert.rocon_android_apps.motion_retargeting_remocon.MotionRetargetingRemocon" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="org.ros.android.MasterChooser" />

        <service android:name="org.ros.android.NodeMainExecutorService">
            <intent-filter>
                <action android:name="org.ros.android.NodeMainExecutorService" />
            </intent-filter>
        </service>
    </application>
</manifest> 
